<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.7.1.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>


</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">码匠社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索话题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true">我 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li th:unless="${session.user != null}">
                    <a href="https://gitee.com/oauth/authorize?client_id=6e98718a3a66e21e3d2b4b64b7b1192dbf5d854213e900e8f1399e17c645b31a&redirect_uri=http://localhost:8887/callback&response_type=code&scope=user_info">登录</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要):</label>
                    <input type="text" th:value="${title}"
                           class="form-control" placeholder="问题标题......"
                           id="title" name="title" >
                </div>

                <div class="form-group">
                    <label for="description">问题补充:</label>
                    <textarea id="description" th:text="${description}"
                              name="description" class="form-control"
                              cols="30" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" th:value="${tag}"
                           class="form-control" placeholder="输入标签,以逗号分隔"
                           id="tag" name="tag">
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <div th:if="${error != null}" th:text="${error}" class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" ></div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">发布</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"></div>
    </div>

</div>

</body>
</html>